## Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

#### Objectives:

In [3]:
print("List popular languages for Data Science")
print("simple arithmetic expression")
print("Conversion from hours to minute")

List popular languages for Data Science
simple arithmetic expression
Conversion from hours to minute

## Some of the popular languages that Data Scientists use are
Python R Julia Java Sql

## Some of the commonly used libraries used by Data Scientists include:
Pandas
Numpy
matplotlib
seaborn

# Data Science Tools
Jupiter Notebook
Visual Studioncode
R language

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
x=(3*4)+5
print(x)

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Lakshmi Holla
## Niveditha Pandith
â€‹
Lawal Ganiyat Ayomide